*.swp
*.pyc
build/
dist/
*.sqlite3
*__pycache__*
example/django-import-export-celery-import-change-summaries/
example/django-import-export-celery-import-jobs/
example/django-import-export-celery-export-jobs/
pipenv/
django_import_export_celery.egg-info/
db/
.idea/
