recursive-include import_export_celery/static *.js *.css *.map *.png *.ico *.eot *.svg *.ttf *.woff *.woff2
recursive-include import_export_celery/templates *.html
recursive-include import_export_celery/locale *.mo
